* {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  //font-family: 'Montserrat', sans-serif;
  font-family: 'Amatic SC', cursive;
}
div#frame {
  height: 90vh;
  width: 90vw;
  margin: 0 auto;
  margin-top: 5vh;
  border: 1px solid white;
  display: flex;
  flex-direction:column;
}
table, th, td {
  border: 1px solid white;
  padding: 10px;
}
table{
  margin: 0 auto;
}
.centerDiv{
  text-align:center;
}
table {
  margin-top: 20px;
}
#addDiv{
  padding: 20px;
  text-align:center;
  margin: 0 auto;
}
td button {
  background-color: black;
  color: white;
  border: none;
  text-align:center;
}
.displayNone{
  display:none;
}
.doneColor{
  color: green;
}